@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
img {
    transform: scale(1.5); /* Aumenta a imagem em 50% */
   /* margin: auto; /* Mantém a centralização horizontal */
}
a {
    position: absolute; /* Posição absoluta em relação ao contêiner pai (div) */
    top: 65%; /* Posiciona no meio verticalmente */
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translate(-50%, -50%); /* Move de volta pela metade da largura e altura do elemento */
    font-weight: bold;
    font-size: 20px;
    color:rgb(0, 0, 0);
}
a:hover {
    font-size: 30px;
    color:black;
}
.frutas{
    font-family: Arial, Helvetica, sans-serif;
    background: url(../imagens/fundoFrutasVerduras_1200_200.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*SCROLL BAR*/
::-webkit-scrollbar{ 
    background-color: #fff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(188, 243, 191);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#00754D;
}
