@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(../imagens/lojaMaster.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 105vh;
    font-size: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.titulo{
    text-align: center;
}
.sidebar{
    position: absolute;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 300px;
    height: calc(110vh - 65px);
    padding: 0 1.5rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: #fff;
}
.topbar{
    background-color: rgb(51, 115, 51);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.logo{
    height: 20px;
    padding: 15px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
}
.menu li{
    transition: all 0.5s ease-in-out;
}
.botoes{
    background-color:  rgb(51, 115, 51);
    color: rgb(255, 247, 247);
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    gap: 5px;
}
.botoes:hover{
    background-color: rgb(110, 178, 114);
}
.botaoAD{
    background-color: #b12020;
    color: rgb(255, 247, 247);
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    gap: 5px;
}
.botaoAD:hover{
    background-color: #7e1717c3;
}
/*SCROLL BAR*/
::-webkit-scrollbar{ 
    background-color: #fff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(188, 243, 191);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(51, 115, 51);
}