@charset "UTF-8";

body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../imagens/fundoFrutasVerduras_1200_200.jpeg) no-repeat;
    background-size: cover;
    display: flex;
}
div.flash_alerta{
    position: fixed;
    top: 0;
    background-color: red;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%; 
}
div#form_fundo{
    background-color: white;
    margin: 20% 35% 20% 35%;
    padding: 20px;
    text-align: center;
    font-weight : bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#form_frente{
    background-color:rgb(50, 126, 50);
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    font-weight : bold;
    padding: 20px;
    color: white;
}
input{
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
input:focus{
    background-color: gray;
    color: white;
}
button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color:  rgb(51, 115, 51);
    color: white;
}
button:hover{
    background-color: gray;
    color: white;
    font-size: 30px;
}

/*SCROLL BAR*/
::-webkit-scrollbar{ 
    background-color: #fff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(188, 243, 191);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(51, 115, 51);
}