<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
    </head>
    <body>
        <h1>Atualizar Dados do Cliente</h1>
        
        {% for cliente in bdtClientes %}
        <form action="/atualizarDadosC" method="post">
            
            <p>NIF: <input type="text" name="nif" value="{{ cliente[0] }}" size="9" readonly></p>
            <p>Nome: <input type="text" name="nome" value="{{ cliente[1] }}" size="100" required></p>
            <p>Morada: <input type="text" name="morada" value="{{ cliente[2] }}" size="200" required></p>
            <p>Email: <input type="text" name="email" value="{{ cliente[3] }}" size="50" required></p>
            <p>Telefone: <input type="text" name="telefone" value="{{ cliente[4] }}" size="20" required></p>
                    
                 
            <input type="submit" value="Atualizar">
            <input type="button" value="Voltar" onclick="window.history.go(-1)">
            <br><br>
            
        </form>
        {% endfor %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>