<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>{%block title%}{%endblock%}</title>
        <link> {%block linkCSS%}{%endblock%}
        <link> {%block linkExtra%}{%endblock%}
    </head>
    <body>
        {%block content%}
        {%endblock%}
    </body>
    <footer>
        {%block footer%}
        {%endblock%}        
    </footer>
</html>