<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
    </head>
    <body>
        {% set msg_cartaoCanceladoComSucesso= get_flashed_messages(category_filter=['cartaoCanceladoComSucesso']) %}
        {% set msg_cartaoJaConstaCancelado= get_flashed_messages(category_filter=['cartaoJaConstaCancelado']) %}
        {% set msg_cartaoAindaAtivo= get_flashed_messages(category_filter=['cartaoAindaAtivo']) %}

        {% if msg_cartaoCanceladoComSucesso %}
            <div class="flash_cartaoCanceladoComSucesso">
                {{msg_cartaoCanceladoComSucesso[0]}}
            </div>
        {% endif %}  

        {% if msg_cartaoJaConstaCancelado %}
            <div class="flash_cartaoJaConstaCancelado">
                {{msg_cartaoJaConstaCancelado[0]}}
            </div>
        {% endif %}   
        
        {% if msg_cartaoAindaAtivo %}
            <div class="flash_cartaoAindaAtivo">
                {{msg_cartaoAindaAtivo[0]}}
            </div>
        {% endif %} 

        <h1>Cancelar Cartão</h1>
                
        <form action="/cancelarCartao" method="post">
            <p>Nº CARTÃO: <input type="text" name="n_cartao" size="12" required></p>
            <input type="submit" value="Cancelar">
            <button type="button" onclick="window.location.href='/substituirCartao'">Substituir</button>
            <input type="reset" value="Limpar">
        <input type="button" value="Homepage" onclick="window.location='/homepage'">
        </form>

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>