<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>

        {% set msg_cartaoInexistente= get_flashed_messages(category_filter=["cartaoNaoExistente"]) %}

        {% if msg_cartaoInexistente %}
            <div class="flash_cartaoInexistente">
                {{msg_cartaoInexistente[0]}}
            </div>
        {% endif %}
               
        <h1 class="topbar">Dados do Cartao</h1>
               
        <form action="/consultarCartao" method="post">
        <br></br>
        <p>NÚMERO DO CARTÃO: <input type="text" name="n_cartao" size="20" required></p>
        <br></br>

             
        <input type="submit" value="Consultar">
        <input type="reset" value="Limpar">
        <input type="button" value="Homepage" onclick="window.location='/homepage'">
        <br><br>
            
        </form>

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>