<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Dados do Cartao</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main>   
            <form action="/consultarCartao" method="post">
                <p>NÚMERO DO CARTÃO: <input type="text" name="n_cartao" size="20" required></p>
                <div class="botoes">
                    <input type="submit" value="Consultar" class="botao">
                    <input type="reset" value="Limpar" class="botao">
                </div>   
            </form>
        </main>
        {% set msg_cartaoInexistente= get_flashed_messages(category_filter=["cartaoNaoExistente"]) %}
        {% if msg_cartaoInexistente %}
            <div class="flash_alerta">
                {{msg_cartaoInexistente[0]}}
            </div>
        {% endif %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>