<html>
    <head>
        <meta charset="utf-8">
        <title>Consultar Pontos - Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
         <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    </head>
    <body>

        {% set msg_cartaoInexistente= get_flashed_messages(category_filter=["cartaoNaoExistente"]) %}

        {% if msg_cartaoInexistente %}
            <div class="flash_cartaoInexistente">
                {{msg_cartaoInexistente[0]}}
            </div>
        {% endif %}
               
        <h1>Consultar Pontos</h1>
        <!-- o metodo post envia os dados de uma página para a outra de forma escondida
            o metodo get envia os dados para a página seguinte pela barra de endereço-->
        
        <form action="/consultarPontos" method="post">
        <br></br>
        <p>NÚMERO DO CARTÃO: <input type="text" name="n_cartao" size="20" required></p>
        <br></br>

             
        <input type="submit" value="Consultar">
        <input type="reset" value="Limpar">
        <input type="button" value="Homepage" onclick="window.location='/homepage'">
        <br><br>
            
        </form>

    </body>
</html>