<html>
    <head>
        <meta charset="utf-8">
        <title>Dados Cliente Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
         <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    </head>
    <body>

        {% set msg_cliente_semRegisto= get_flashed_messages(category_filter=["cliente_semRegisto"]) %}

        {% if msg_cliente_semRegisto %}
            <div class="flash_cliente_semRegisto">
                {{msg_cliente_semRegisto[0]}}
            </div>
        {% endif %}
               
        <h1>Dados do Cliente</h1>
        <!-- o metodo post envia os dados de uma página para a outra de forma escondida
            o metodo get envia os dados para a página seguinte pela barra de endereço-->
        
        <form action="/mostrarDadosCliente" method="post">
        <br></br>
        <p>NIF: <input type="text" name="nif" size="9" required></p>
        <br></br>

             
        <input type="submit" value="Buscar">
        <input type="reset" value="Limpar">
        <input type="button" value="Homepage" onclick="window.location='/homepage'">
        <br><br>
            
        </form>

    </body>
</html>