<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Dados do Cliente</h1>
        <main style="text-align: center;">
            <form action="/mostrarDadosCliente" method="post">
                <br></br>
                <p>NIF: <input type="text" name="nif" size="9" required></p>
                <br></br>
                <input type="submit" value="Buscar" class="botao">
                <input type="reset" value="Limpar" class="botao">
                <input type="button" value="Homepage" onclick="window.location='/homepage'" class="botao">
                <br><br>
            </form>
        </main>
        {% set msg_cliente_semRegisto= get_flashed_messages(category_filter=["cliente_semRegisto"]) %}

        {% if msg_cliente_semRegisto %}
            <div class="flash_cliente_semRegisto">
                {{msg_cliente_semRegisto[0]}}
            </div>
        {% endif %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>