<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Registo de Nova Fatura Mercadona</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main>
            <h2>Fatura nº {{session['id_fatura']}}</h2>
            <h3>Listagem dos Produtos</h3>
            {% for item in session['produtosDaFatura'] %}
                <p>{{ item[1] }}&nbsp;{{ item[2] }}&nbsp;{{ item[3] }}&nbsp;{{ item[4] }}</p>
            {% endfor %}
            <h3 style="margin-top: 30px;">Quantidade Total de Itens: {{session['qtdItens']}}</h3>
            <h3>Valor Total: {{session['valorFatura']}}€ </h3>
            {% if session['nif'] != 0 %}
                <h3>Valor Disponível no Cartão Promocional:</h3>{{session['valorCartao']}}€
                {% set msg_valorCartaoInsuficiente= get_flashed_messages(category_filter=['valorCartaoInsuficiente']) %}

                {% if msg_valorCartaoInsuficiente %}
                <div class="flash_confirmacao">
                    {{msg_valorCartaoInsuficiente[0]}}
                </div>
                {% endif %}
                <form action="/utilizarValorCartao" method="post">
                    <p>Valor: <input type="text" name="valorCartaoAutilizar" size="5" required></p>
                    <input type="submit" value="Utilizar">
                </form>
            {%endif%}
            <div class="botoes" style="text-align: left;">
                {% if 'valorUtilizado' not in session  %}
                    <form action="/cancelarFatura" method="post">
                        <input type="button" value="Voltar" class="botao" onclick="window.location.href='/registarLinhaFatura'">
                        <input type="hidden" name="lfParaCancelar" value="{{session['id_fatura']}}" class="botao">
                        <input type="submit" value="Cancelar Fatura" class="botao">
                    </form>
                {% endif %}
            </div>
            <div style="text-align: right;">
                <input type="button" value="Confirmar Pagamento" class="botao" onclick="window.location.href='/finalizarFatura2'">
            </div>
        </main>       
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p> 
    </footer>
</html>