<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Registo de Nova Fatura Mercadona</h1><br>

        <h2>Fatura nº {{session['id_fatura']}}</h2><br>
        
        

        {% for item in session['produtosDaFatura'] %}
            <p>{{ item[1] }}&nbsp;{{ item[2] }}&nbsp;{{ item[3] }}&nbsp;{{ item[4] }}</p>
        {% endfor %}

        <h3>Quantidade Total de Itens:</h3>{{session['qtdItens']}}
        <h3>Valor Total:</h3>{{session['valorFatura']}}€
        <h3>Valor Disponível no Cartão Promocional:</h3>{{session['valorCartao']}}€

        <form action="/utilizarValorCartao" method="post">
            <br></br>
            <p>Valor: <input type="text" name="valorCartaoAutilizar" size="5" required></p>
            <br></br>
            <input type="submit" value="Utilizar">
        </form>
        <br><br>
        {% if 'valorUtilizado' not in session  %}
            <form action="/cancelarFatura" method="post">
                <input type="button" value="Voltar" onclick="window.location.href='/registarLinhaFatura'">
                <input type="hidden" name="lfParaCancelar" value="{{session['id_fatura']}}">
                <input type="submit" value="Cancelar Fatura">
            </form>
        {% endif %}
        <input type="button" value="Finalizar" onclick="window.location.href='/finalizarFatura2'">
                 
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p> 
    </footer>
</html>