<html>
    <!-- dentro do head apenas defino a linguagem o título-->
    <head>
        <meta charset="utf-8">
        <title>Cartão Mercadona</title>
        <link rel="stylesheet" href="/static/css/homepage.css">
        <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    </head>
    <!-- tudo o que aparece dentro da página tem de estar no body-->
    <body>
        <!-- cabeçalho maior do site -->
        <h1>Gestão Cartão Mercadona</h1>
        <!--br (abreviatura de break) cria quebra de linha-->
        <br></br>
        <!-- cada hiperligação utiliza a tag a -->
        <a href="/dadosCliente" target="_self">Dados do Cliente</a><br><br>
        <a href="/registarCliente" target="_self">Registar Cliente</a><br><br>
        <a href="/registarCartao" target="_self">Registar Cartão</a><br><br>
        <a href="/consultarPontosCartao" target="_self">Consultar Pontos do Cartão</a><br><br>
        <a href="/listarProdutos" target="_self">Listagem de Produtos</a><br><br>
        <a href="/registarProduto" target="_self">Registar Novo Produto</a><br><br>
        <a href="/registarLinhaFatura" target="_self">Registar Fatura</a><br><br>
        <br><br>
        {% if username == admin %}
        <h2>Gestão Administrador</h2>
        <a href="/registarUsuario" target="_self">Registar Dados para Login</a><br><br>
        <br><br>
        {%endif%}
        <a href="/logout" target="_self">Logout</a><br><br>
        
    </body>
</html>