<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
    </head>
    <body>

        <h1>Dados dos Usuarios para Login</h1>
        
        {% for usuario in bdtLogin %}
            {% if usuario[2] == '1' %}
                <span style="color: red;">Username: {{ usuario[0] }} - Usuário desativado</span>
            {% else %}
                <span style="color: black;">Username: {{ usuario[0] }}</span>
            {% endif %}
            
            {% if usuario[2] == '1' %}
                <form action="/ativarUsuario" method="post">
                    <input type="hidden" name="username" value="{{ usuario[0] }}">
                    <input type="submit" value="Ativar">
                </form>
            {% else %}
                <form action="/desativarUsuario" method="post">
                    <input type="hidden" name="username" value="{{ usuario[0] }}">
                    <input type="submit" value="Desativar">
                </form>
            {% endif %}

        {% endfor %}  

        <input type="button" value="Homepage" onclick="window.location.href='/homepage'">

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>