<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
    </head>
    <body>
        <h2>Listagem dos Produtos com Validade Próxima</h2>

        <form action="/listarProdutosValidadeProxima" method="post">
            <br><br>
            <input type="submit" value="Gerar Lista" >
            <input type="button" value="Homepage" onclick="window.location.href='/homepage'"></br></br>
        </form>
        {% for produto in bdtProdutosValidadeProxima %}
            <p>Cód. Produto: {{ produto[0] }}</p>
            <p>Descrição: {{ produto[1] }}</p>
            <p>Stock: {{ produto[3] }}</p>
            <p>Validade: {{ produto[6] }}</p>
            <br>
        {% endfor %}

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>