<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <style>
            form {
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px; /* Para adicionar um espaçamento entre os elementos */
            }
            .botao {
                display: inline-block;
                vertical-align: middle;
            }
            .produtos{
                background-color:  rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.179);
                padding: 10px;
                text-align: justify;
                margin-right: 20px;
                margin-left: 20px;
                margin-bottom: 20px;
                margin-top: 20px;
                width: 22%;
            }
            section{
                margin-right: 20px;
                margin-left: 20px;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Listagem dos Produtos</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main style="width: 1400px; text-align: center;" >
            <form action="/listarProdutosPorCodigo" method="post">
                Código Produto: <input type="text" name="id_prod" size="9" required>
                <input type="submit" value="Listar por Codigo" class="botao"> 
            </form>
            <form action="/listarProdutosPorCategoria" method="post">
                Categoria: 
                    <select name="categoria" required>
                    <option value="" disabled selected>Selecione a categoria</option>
                    <option value="Frutas&Legumes">Frutas&Legumes</option>
                    <option value="Carnes&Peixes">Carnes&Peixes</option>
                    <option value="Limpeza">Limpeza</option>
                    <option value="Conservas">Conservas</option>
                    <option value="Mercearia">Mercearia</option>
                    <option value="Bebidas">Bebidas</option>
                    </select>
                <input type="submit" value="Listar por Categoria" class="botao">
            </form>
            <form action="/listarProdutos" method="post">
                <input type="submit" value="Listar todos os produtos" class="botao">
            </form>
        </main>
            <section style="margin: auto;">
                {% if bdtProdutos !=null %}
                {% if bdtProdutos|length > 0 %}
                <div style="display: flex; flex-wrap: wrap; margin-left: 70px;">
                    {% for produto in bdtProdutos %}
                    <div class="produtos">
                        <table>
                            <tr>
                                <td rowspan="6" aling="center" valing="middle"><img width=80 src="{{ produto[5]}}"></td>
                                <td>Cód.:{{ produto[0] }}</td>
                            </tr>
                            <tr>
                                <td>{{ produto[1] }}</td>
                            </tr>
                            <tr>
                                <td>Preço: {{ produto[2] }}€</td>
                            </tr>
                            <tr>
                                <td>Stock: {{ produto[3] }}</td>
                            </tr>
                            <tr>
                                <td>Categoria: {{ produto[4] }}</td>
                            </tr>
                            <tr>
                                <td>Data Validade: {{ produto[6] }}</td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
                    {% set bdtProdutos = null %}
                {% else %}
                    <p>Nenhum produto encontrado.</p>
                {% endif %}
            {% endif %}
        </section>
    
        <section style="margin: auto;">
            {% if bdtProdutoEspecifico !=null %}
                {% if bdtProdutoEspecifico|length > 0 %}
                <div style="display: flex; flex-wrap: wrap; margin-left: 70px;">
                    {% for produto in bdtProdutoEspecifico %}
                    <div class="produtos">
                        <table>
                            <tr>
                                <td rowspan="6" aling="center" valing="middle"><img width=80 src="{{ produto[5]}}"></td>
                                <td>Cód.:{{ produto[0] }}</td>
                            </tr>
                            <tr>
                                <td>{{ produto[1] }}</td>
                            </tr>
                            <tr>
                                <td>Preço: {{ produto[2] }}€</td>
                            </tr>
                            <tr>
                                <td>Stock: {{ produto[3] }}</td>
                            </tr>
                            <tr>
                                <td>Categoria: {{ produto[4] }}</td>
                            </tr>
                            <tr>
                                <td>Data Validade: {{ produto[6] }}</td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
                {% set bdtProdutoEspecifico = null %}
                {% else %}
                    <p>Nenhum produto encontrado.</p>
                {% endif %}
            {% endif %}
        </section>

        <section style="margin: auto;">
            {% if bdtProdutosCategoria !=null %}
                {% if bdtProdutosCategoria|length > 0 %}
                <div style="display: flex; flex-wrap: wrap; margin-left: 70px;">
                    {% for produto in bdtProdutosCategoria %}
                    <div class="produtos">
                        <table>
                            <tr>
                                <td rowspan="6" aling="center" valing="middle"><img width=80 src="{{ produto[5]}}"></td>
                                <td>Cód.:{{ produto[0] }}</td>
                            </tr>
                            <tr>
                                <td>{{ produto[1] }}</td>
                            </tr>
                            <tr>
                                <td>Preço: {{ produto[2] }}€</td>
                            </tr>
                            <tr>
                                <td>Stock: {{ produto[3] }}</td>
                            </tr>
                            <tr>
                                <td>Categoria: {{ produto[4] }}</td>
                            </tr>
                            <tr>
                                <td>Data Validade: {{ produto[6] }}</td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
                {% set bdtProdutosCategoria = null %}
                {% else %}
                    <p>Nenhum produto encontrado.</p>
                {% endif %}
            {% endif %}
        </section>
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>