<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Registo de Nova Fatura Mercadona</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <h1 class="topbar">Listagem dos Produtos com Validade Próxima</h1>
        <main>
            <form action="/listarProdutosValidadeProxima" method="post">
                <div class="botoes">
                    <span class="escondido" style="margin-right: 40px;">
                        <input type="submit" value="Gerar Lista" class="botao">
                        <p style="width: 200px;">Produtos com validade nos próximos 3 dias</p>
                    </span>
                </div>
            </form>
        </main>
        {% for produto in bdtProdutosValidadeProxima %}
            <p>Cód. Produto: {{ produto[0] }}</p>
            <p>Descrição: {{ produto[1] }}</p>
            <p>Stock: {{ produto[3] }}</p>
            <p>Validade: {{ produto[6] }}</p>
            <br>
        {% endfor %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>