<html>
    <head>
        <meta charset="utf-8">
        <title>Login Colaborador Mercadona</title>
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        {% set msg_dadosInvalidosLogin= get_flashed_messages(category_filter=['dadosInvalidosLogin']) %}

        {% if msg_dadosInvalidosLogin %}
            <div class="flash_alerta">
                {{msg_dadosInvalidosLogin[0]}}
            </div>
        {% endif %}

        <div id="form_fundo">
            <h1>LOGIN</h1>
            <!-- o metodo post envia os dados de uma página para a outra de forma escondida
                o metodo get envia os dados para a página seguinte pela barra de endereço-->
            <div id="form_frente">
                <form action="/login" id="login" method="post">
                    <p>Username: <input type="text" name="username" size="10" required></p>
                    <p>Password: <input type="password" name="password" size="10" required></p><br>
                    <!--O botao submit envia os dados para a pagina destinada o reset limpa 
                        os dados de todos os campos -->
                    <button type="submit" id="btn_login">ENTRAR</button>
                    <button type="reset" id="btn_login">LIMPAR</button><br>
                    <!-- <input type="button" value="Voltar" onclick="window.history.go(-1)"> -->
                </form>
            </div>
        </div>
    </body>
</html>