<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
               
        <h1 class="topbar">Dados do Cliente</h1>
        <!-- o metodo post envia os dados de uma página para a outra de forma escondida
            o metodo get envia os dados para a página seguinte pela barra de endereço-->
        {% for cliente in bdtClientes %}
        <p>NIF: {{ cliente[0] }}</p>
        <p>Nome: {{ cliente[1] }}</p>
        <p>Morada: {{ cliente[2] }}</p>
        <p>Email: {{ cliente[3] }}</p>
        <p>Telefone: {{ cliente[4] }}</p>
        <p>Número Cartão Mercadona: {{ cliente[5] }}</p>
        
        
        <form action="/atualizarDadosCliente" method="post">
            
            <input type="hidden" name="nif_display" value="{{ cliente[0] }}" size="9" readonly>
                  
                 
            <input type="submit" value="Atualizar Registo">
            <input type="button" value="Homepage" onclick="window.location='/homepage'">
            <br><br>
            
        </form>
        {% endfor %}

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>