<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Dados do Cartao</h1>
        {% for cartao in bdtValorCartao %}
        <b>Número do Cartão: </b>{{ cartao[0] }}</br>
        <b>Nif: </b>{{ cartao[1] }}</br>
        <b>Situação: </b>
            {% if cartao[3]=='0' %}
                ATIVO</br><br>
            {% else%}
                DESATIVADO</br><br>
            {% endif%}
        <b>Valor Total Disponível: </b>{{valor_total}}€</br>      
        <br><br>
        <input type="button" value="Homepage" onclick="window.location='/homepage'">
        {% endfor %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>