<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Dados do Cliente</h1>
        <main>
            {% for cliente in bdtClientes %}
            <br>
            NIF: {{ cliente[0] }} <br>
            Nome: {{ cliente[1] }} <br>
            Morada: {{ cliente[2] }} <br>
            Email: {{ cliente[3] }} <br>
            Telefone: {{ cliente[4] }} <br>
            Número Cartão Mercadona: {{ cliente[5] }} <br>
            <form action="/atualizarDadosCliente" method="post">
                <br>
                <div class="botoes">
                <input type="hidden" name="nif_display" value="{{ cliente[0] }}" size="9" class="botao" readonly>
                <input type="submit" value="Atualizar Registo" class="botao">
                <input type="button" value="Homepage" class="botao" onclick="window.location='/homepage'">
                <br><br>
                </div>
            </form>
            {% endfor %}
        </main>
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>