<html>
    <head>
        <meta charset="utf-8">
        <title>Registo Fatura Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
        
    </head>
    <body>
        <h1>Registo de Nova Fatura Mercadona</h1><br>

        <h2>Fatura nº {{session['id_fatura']}}</h2><br>
        
        <h3>Registo dos Produtos</h3> 

        {% for item in session['produtosDaFatura'] %}
            <p>{{ item[1] }}&nbsp;{{ item[2] }}&nbsp;{{ item[3] }}&nbsp;{{ item[4] }}</p>
        {% endfor %}

        <form action="/registarLinhaFatura" method="post">
            <p>Código do Produto: <input type="text" name="id_produto" size="11" required></p>
            <input type="submit" value="Registar Produto">
            <input type="button" value="Finalizar Fatura" onclick="window.location='/finalizarFatura'">
        </form>

               
    </body>
</html>