<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Registo de Novo Cartão Mercadona</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main>
            <form action="/registarCartao" method="post">
                <p>NIF: <input type="text" name="nif" size="9" required></p>
                <p>Número do Cartao: <input type="text" name="n_cartao" size="12" required></p>
                <div class="botoes">
                    <input type="submit" value="Associar Cartao" class="botao">
                    <input type="button" value="Registar Cliente" class="botao" onclick="window.location='/registarCliente'">
                    <input type="reset" value="Limpar" class="botao">
                </div>     
            </form>
        </main>
        {% set msg_cliente_naoRegistado = get_flashed_messages(category_filter=["cliente_naoRegistado"]) %}
        {% set msg_cliente_jaComCartao= get_flashed_messages(category_filter=["cliente_jaComCartao"]) %}
        {% set msg_cartao_associadoComSucesso= get_flashed_messages(category_filter=["cartao_associadoComSucesso"]) %}
        {% if msg_cliente_naoRegistado %}
            <div class="flash_alerta">
                {{msg_cliente_naoRegistado[0]}}
            </div>
        {% endif %}
        {% if msg_cliente_jaComCartao %}
            <div class="flash_alerta">
                {{msg_cliente_jaComCartao[0]}}
            </div>
        {% endif %}
        {% if msg_cartao_associadoComSucesso %}
            <div class="flash_confirmacao">
                {{msg_cartao_associadoComSucesso[0]}}
            </div>
        {% endif %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>