<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Registrar Produto</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <section class="main-content">
            {% set msg_produto_registadoComSucesso= get_flashed_messages(category_filter=["produto_registadoComSucesso"]) %}

            {% if msg_produto_registadoComSucesso %}
                <div class="flash_confirmacao">
                    {{msg_produto_registadoComSucesso[0]}}
                </div>
            {% endif %}
            <main>
                <form action="/registarProduto" method="POST">
                    <p>Descrição do Produto: <input type="text" name="descricao" required></p>
                    <p>Valor de Venda: <input type="text" name="valor_venda" required></p>
                    <p>Estoque: <input type="text" name="stock" required></p>
                    <p>Categoria:
                        <select name="categoria" required>
                        <option value="" disabled selected>Selecione a categoria</option>
                        <option value="Frutas&Legumes">Frutas&Legumes</option>
                        <option value="Carnes&Peixes">Carnes&Peixes</option>
                        <option value="Limpeza">Limpeza</option>
                        <option value="Conservas">Conservas</option>
                        <option value="Mercearia">Mercearia</option>
                        <option value="Bebidas">Bebidas</option>
                        </select></p>
                    <p>Foto: <input type="textarea" name="foto"></p>
                    <p>Data Validade: <input type="date" name="data_validade" required></p>
                    <div class="botoes">
                        <button type="submit" class="botao">Registar Produto</button>
                        <button type="reset" class="botao">Limpar</button>
                        <button class="botao" onclick="window.location='/homepage'">Homepage</button>
                    </div>
                </form>
            </main>
        </section>

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>