<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Registo de Nova Fatura Mercadona</h1>
        <main>
            <h2>Fatura nº {{session['id_fatura']}}</h2>
            <h3>Registo dos Produtos</h3>
            {% for item in session['produtosDaFatura'] %}
            <form action="/cancelarProduto" method="post">
                <span>{{ item[1] }}&nbsp;{{ item[2] }}&nbsp;{{ item[3] }}&nbsp;{{ item[4] }}</span>
                <input type="hidden" name="lfParaCancelar" value="{{ item[0] }}">
                <input type="submit" value="x" class="botaoC">
            </form>
            {% endfor %}
            <form action="/registarLinhaFatura" method="post">
                Código do Produto: <input type="text" name="id_produto" size="11" required>
                <input type="submit" value="Adicionar" class="botao">
                {% if session['produtosDaFatura'] %}
                    <div class="botoes" style="text-align: right;">
                        <input type="button" value="Finalizar Fatura" class="botao" onclick="window.location.href='/finalizarFatura'">
                    </div>
                {%endif%}
            </form>
        </main>
        {% set msg_produtoDesativado= get_flashed_messages(category_filter=['produtoDesativado']) %}

        {% if msg_produtoDesativado %}
            <div class="flash_produtoDesativado">
                {{msg_produtoDesativado[0]}}
            </div>
        {% endif %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>