<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="registarCliente.css">
    </head>
    <body>
        <section class="main-content">

            {% set msg_produto_registadoComSucesso= get_flashed_messages(category_filter=["produto_registadoComSucesso"]) %}

            {% if msg_produto_registadoComSucesso %}
                <div class="flash_produto_registadoComSucesso">
                    {{msg_produto_registadoComSucesso[0]}}
                </div>
            {% endif %}

            <h2>Registrar Produto</h2>

            <form action="/registarProduto" method="POST">
                <label>Descrição do Produto:</label>
                <input type="text" name="descricao" required>
                <br><br>
                <label>Valor de Venda:</label>
                <input type="text" name="valor_venda" required>
                <br><br>
                <label>Estoque:</label>
                <input type="text" name="stock" required>
                <br><br>
                <label>Categoria:</label>
                    <select name="categoria" required>
                    <option value="" disabled selected>Selecione a categoria</option>
                    <option value="Frutas&Legumes">Frutas&Legumes</option>
                    <option value="Carnes&Peixes">Carnes&Peixes</option>
                    <option value="Limpeza">Limpeza</option>
                    <option value="Conservas">Conservas</option>
                    <option value="Mercearia">Mercearia</option>
                    <option value="Bebidas">Bebidas</option>
                    </select>
                <br><br>
                <label>Foto:</label>
                <br>
                <input type="textarea" name="foto">
                <br><br>
                <label>Data Validade:</label>
                <br>
                <input type="date" name="data_validade" required><br><br>
                <button type="submit">Registar Produto</button>
                <button type="reset">Limpar</button>
                <button onclick="window.location='/homepage'">Homepage</button>
                <br><br>
            </form>
        </section>

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>