<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Registo de Novo Cartão Mercadona</h1><br>
        <!-- o metodo post envia os dados de uma página para a outra de forma escondida
            o metodo get envia os dados para a página seguinte pela barra de endereço-->
        <!-- <h3>Verificar Cadastro</h3> 

        <form action="/verificarCliente" method="post">
            <br><br>
            <p>NIF: <input type="text" name="nif" size="9" required></p>
            <br><br>
            <input type="submit" value="Verificar">
            <input type="reset" value="Limpar">
            <input type="button" value="Voltar" onclick="window.history.go(-1)">
            <br><br>-->

        {% set msg_cliente_naoRegistado = get_flashed_messages(category_filter=["cliente_naoRegistado"]) %}
        {% set msg_cliente_jaComCartao= get_flashed_messages(category_filter=["cliente_jaComCartao"]) %}
        {% set msg_cartao_associadoComSucesso= get_flashed_messages(category_filter=["cartao_associadoComSucesso"]) %}

        {% if msg_cliente_naoRegistado %}
            <div class="flash_cliente_naoRegistado">
                {{msg_cliente_naoRegistado[0]}}
            </div>
        {% endif %}
        {% if msg_cliente_jaComCartao %}
            <div class="flash_cliente_jaComCartao">
                {{msg_cliente_jaComCartao[0]}}
            </div>
        {% endif %}
        {% if msg_cartao_associadoComSucesso %}
            <div class="flash_cartao_associadoComSucesso">
                {{msg_cartao_associadoComSucesso[0]}}
            </div>
        {% endif %}

        <h3>Associar Cartão</h3> 
        <form action="/registarCartao" method="post">
            <br><br>
            <p>NIF: <input type="text" name="nif" size="9" required></p>
            <p>Número do Cartao: <input type="text" name="n_cartao" size="12" required></p>
            <br><br>
            <input type="submit" value="Associar Cartao">
            <input type="button" value="Registar Cliente" onclick="window.location='/registarCliente'">
            <input type="reset" value="Limpar">
            <input type="button" value="Homepage" onclick="window.location='/homepage'">
            <br><br>       
       
            
        </form>

    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>