<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <style>
            form {
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px; /* Para adicionar um espaçamento entre os elementos */
            }
            .botao {
                display: inline-block;
                vertical-align: middle;
            }
            .bold-text {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Registo de Nova Fatura Mercadona</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main>
            <h2>Fatura nº {{session['id_fatura']}}</h2>
            <h3>Registo dos Produtos</h3> 
            {% for item in session['produtosDaFatura'] %}
            <p style="display: flex; justify-content: space-between;width: 650px;"><span style="width: 250px;">{{ item[2] }}</span><span style="width: 5px;">{{ item[3] }}</span><span style="width: 5px;">{{ item[4] }}</span></p>
            {% endfor %}
            <form action="/registarLinhaFatura2" method="post">
                {% for item in bdIdDescr %}
                <span style="width: 250px;">{{ item[2] }}</span>
                {% endfor %}
                <input type="text" placeholder="Quantidade" size="8" name="qtd" style="background-color: greenyellow; margin-right: 15px;" required>
                <input type="submit" value="Incluir" class="botao">
            </form>
            {% set msg_qtdMenorQzero= get_flashed_messages(category_filter=["qtdMenorQzero"]) %}
            {% if msg_qtdMenorQzero %}
            <div class="flash_alerta">
                {{msg_qtdMenorQzero[0]}}
            </div>
            {% endif %}
        </main>
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>