<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        {% set message1 = get_flashed_messages(category_filter=["usernameUtilizado"]) %}
        {% set message2 = get_flashed_messages(category_filter=["usuario_registadoComSucesso"]) %}

        {% if message1 %}
            <div class="flash_alerta">
                {{message1[0]}}
            </div>
        {% endif %}

        {% if message2 %}
            <div class="flash_alerta">
                {{message2[0]}}
            </div>
        {% endif %}
        <h1 class="topbar">REGISTO NOVO USUARIO</h1>
        <div id="form_fundo">
            <div id="form_frente">
                <form action="/registarUsuario" method="post">
                    <p>Username: <input type="text" name="username" size="10" required></p>
                    <p>Password: <input type="password" name="password" size="80" required></p><br>
                    <!--O botao submit envia os dados para a pagina destinada o reset limpa 
                        os dados de todos os campos -->
                        <input type="submit" value="Registar">
                        <input type="reset" value="Limpar">
                        <input type="button" value="Homepage" onclick="window.location='/homepage'">
                    <!-- <input type="button" value="Voltar" onclick="window.history.go(-1)"> -->
                </form>
            </div>
        </div>
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>