<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
    </head>
    <body>
        <h1>Registo de Nova Fatura Mercadona</h1><br>

        <h2>Fatura nº {{session['id_fatura']}}</h2><br>
        
        <h3>Registo dos Produtos</h3> 

        {% for item in session['produtosDaFatura'] %}
            <form action="/cancelarProduto" method="post">
                {{ item[1] }}&nbsp;{{ item[2] }}&nbsp;{{ item[3] }}&nbsp;{{ item[4] }}
                <input type="hidden" name="lfParaCancelar" value="{{ item[0] }}">
                <input type="submit" value="X"><br><br>
            </form>
        {% endfor %}

        {% set msg_produtoDesativado= get_flashed_messages(category_filter=['produtoDesativado']) %}

        {% if msg_produtoDesativado %}
            <div class="flash_produtoDesativado">
                {{msg_produtoDesativado[0]}}
            </div>
        {% endif %}

        <form action="/registarLinhaFatura" method="post">
            <p>Código do Produto: <input type="text" name="id_produto" size="11" required></p>
            <input type="submit" value="Registar Produto">
            {% if session['produtosDaFatura'] %}
                <input type="button" value="Finalizar Fatura" onclick="window.location.href='/finalizarFatura'">
            {%endif%}
        </form>
                     
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>