<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        {% set msg_cliente_jaComRegisto= get_flashed_messages(category_filter=["cliente_jaComRegisto"]) %}
        {% set msg_cliente_registadoComSucesso= get_flashed_messages(category_filter=["cliente_registadoComSucesso"]) %}

        {% if msg_cliente_jaComRegisto %}
            <div class="flash_alerta">
                {{msg_cliente_jaComRegisto[0]}}
            </div>
        {% endif %}
        {% if msg_cliente_registadoComSucesso %}
            <div class="flash_confirmacao">
                {{msg_cliente_registadoComSucesso[0]}}
            </div>
        {% endif %}
        <header>
            <img src="../static/imagens/mercadona-logo.png" alt="">
            <nav>
                <h1>Registo de Clientes</h1>
                <a href="/homepage">Homepage</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <main>
            <form action="/registarCliente" method="post">
                <div class="grid-container"></div>
                    <div class="grid-item">NIF: </div>
                    <div class="grid-item"><input type="text" name="nif" size="9" required></div>
                    <div class="grid-item">Nome: </div>
                    <div class="grid-item"><input type="text" name="nome" size="60" required></div>
                    <div class="grid-item">Morada: </div>
                    <div class="grid-item"><input type="text" name="morada" size="60"></div>
                    <div class="grid-item">Email: </div>
                    <div class="grid-item"><input type="email" name="email" size="50"></div>
                    <div class="grid-item">Telefone: </div>
                    <div class="grid-item"><input type="text" name="telefone" size="20"></div>
                </div>  
                <div class="botoes">
                    <input type="submit" value="Registar" class="botao">
                    <input type="reset" value="Limpar" class="botao">
                </div>
            </form>
        </main>   
    </body>
    <footer>
        <p >&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>