<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
    </head>
    <body>
        <h1>Registo de Nova Fatura Mercadona</h1><br>
        
        <h3>Registar Fatura</h3> 

        <form action="/registarFatura" method="post">
            <br><br>
            <p>NIF: <input type="text" name="nif" size="9"></p>
            <input type="submit" value="Iniciar Fatura">
            <input type="button" value="Homepage" onclick="window.location.href='/homepage'">
        </form>

        
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>