<html>
    <head>
        <meta charset="utf-8">
        <title>Registo Fatura Mercadona</title>
        <link rel="stylesheet" href="/static/css/registarCliente.css">
        
    </head>
    <body>
        <h1>Registo de Nova Fatura Mercadona</h1><br>
        
        <h3>Registar Fatura</h3> 

        {% for item in BdtLinhaFatura %}
            <p>{{ item[1] }}&nbsp;{{ item[2] }}&nbsp;{{ item[3] }}&nbsp;{{ item[4] }}</p>
            {% set BdtLinhaFatura = null %}
        {% endfor %}

        <form action="/registarFatura" method="post">
            <br><br>
            <p>NIF: <input type="text" name="nif" size="9" required></p>
            <input type="submit" value="Iniciar Fatura">
        </form>

        
    </body>
</html>