<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="static/imagens/logotipo.ico" type="image/x-icon">
        <title>Mercadona</title>
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <h1 class="topbar">Dados do Cartão</h1>
        <main> 
            <form action="/substituirNumeroCartao" method="post">
                <br>
                <p>Nº CARTÃO: <input type="text" name="n_cartao" size="12" value="n_cartao" required></p><br>
                <p>NOVO CARTAO: <input type="text" name="novo_cartao" size="12" required></p>
                <br><br>
                <div class="botoes">
                    <input type="submit" value="Substituir" class="botao">
                    <input type="reset" value="Limpar" class="botao">
                    <input type="button" value="Homepage" class="botao" onclick="window.location='/homepage'">
                    <input type="button" value="Voltar" class="botao" onclick="window.history.go(-1)">
                </div>
                <br>
            </form>
        </main>
        {% set msg_cartaoSubstituidoComSucesso= get_flashed_messages(category_filter=['cartaoSubstituidoComSucesso']) %}

        {% if msg_cartaoSubstituidoComSucesso %}
            <div class="flash_cartaoSubstituidoComSucesso">
                {{msg_cartaoSubstituidoComSucesso[0]}}
            </div>
        {% endif %}
    </body>
    <footer>
        <p>&copy; 2024 Mercadona. Todos os direitos reservados.</p>
    </footer>
</html>